{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1>Cart</h1>

    <div class="row flex-column mx-auto w-75">
        {% for item in cart %}
            <div class="card mb-3">
                <div class="row no-gutters">
                    {% if item.image_url %}
                        <div class="col-md-4">
                            <img src="{{ item.image_url }}" class="card-img" alt="{{ item.name }}">
                        </div>
                    {% endif %}
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">
                                <strong>Price:</strong> {{ item.price }}<br>
                                {% if item.options %}
                                <strong>Options:</strong> 
                                {% for option in item.options %}
                                    {{ option.name }}: {{ option.price }},
                                {% endfor %}
                                <br>
                                {% endif %}
                                {% if item.extras %}
                                <strong>Extras:</strong> 
                                {% for extra in item.extras %}
                                    {{ extra.name }}: {{ extra.price }},
                                {% endfor %}
                                <br>
                                {% endif %}
                            </p>
                            {% if item.included_item %}
                                <h6>Included Item: {{ item.included_item.name }} : {{item.included_item.price}}</h6>
                                <p>
                                    {% if item.included_item.options %}
                                    <strong>Options:</strong> 
                                    {% for option in item.included_item.options %}
                                        {{ option.name }}: {{ option.price }},
                                    {% endfor %}
                                    <br>
                                    {% endif %}
                                    {% if item.included_item.extras %}
                                    <strong>Extras:</strong> 
                                    {% for extra in item.included_item.extras %}
                                        {{ extra.name }}: {{ extra.price }},
                                    {% endfor %}
                                    <br>
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Your cart is empty.</p>
        {% endfor %}
    </div>
{% endblock %}