{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row flex-column mx-auto w-75">
        {% for item in cart %}
            <div class="cart-item ">
                <h2>{{ item.name }}</h2>
                <p>Price: {{ item.price }}</p>
                <p>Options:</p>
                <ul>
                    {% for option in item.options %}
                        <li>{{ option.name }}</li>
                    {% endfor %}
                </ul>
                <p>Extras:</p>
                <ul>
                    {% for extra in item.extras %}
                        <li>{{ extra.name }}</li>
                    {% endfor %}
                </ul>
                {% if item.included_item %}
                    <p>Included Item: {{ item.included_item }}</p>
                    <p>Options:</p>
                    <ul>
                        {% for option in item.included_item_options %}
                            <li>{{ option.name }}</li>
                        {% endfor %}
                    </ul>
                    <p>Extras:</p>
                    <ul>
                        {% for extra in item.included_item_extras %}
                            <li>{{ extra.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% empty %}
            <p>Your cart is empty.</p>
        {% endfor %}
    </div>
{% endblock %}

