{% extends "base.html" %}
{% load static %}
{% load enumerate %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1 class="text-center">Cart</h1>

    {% for item in cart %}
    <div class="row flex-column mx-auto w-75">
            <div class="card mb-3">
                <div class="row no-gutters">
                    {% if item.image_url %}
                        <div class="col-md-4">
                            <img src="{{ item.image_url }}" class="card-img" alt="{{ item.name }}">
                        </div>
                    {% endif %}
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">
                                <strong>Original Price:</strong> {{ item.original_price }}€<br>
                                <strong>Price:</strong> {{ item.price }}€<br>

                                {% if item.options %}
                                <strong>Options:</strong> 
                                    {% for option in item.options %}
                                    {{ option.name }}{% if option.price != "0.00" %}: +{{ option.price }}€{% endif %},
                                    {% endfor %}
                                {% endif %}
                                <br>
                                {% if item.extras %}
                                <strong>Extras:</strong> 
                                    {% for extra in item.extras %}
                                    {{ extra.name }}{% if extra.price != "0.00" %}: +{{ extra.price }}€{% endif %}
                                    {% endfor %}
                                {% endif %}
                            </p>
                            {% if item.included_item %}
                            <h6><strong> Included Item: </strong> {{ item.included_item.name }}{% if item.included_item.price != "0.00" %}: +{{ item.included_item.price }}€{% endif %}</h6>
                            <p>
                                {% if item.included_item.options %}
                                <strong>Options:</strong> 
                                {% for option in item.included_item.options %}
                                {{ option.name }}{% if option.price != "0.00" %}: +{{ option.price }}€{% endif %},
                                {% endfor %}
                                <br>
                                {% endif %}
                                {% if item.included_item.extras %}
                                <strong>Extras:</strong> 
                                {% for extra in item.included_item.extras %}
                                {{ extra.name }}{% if extra.price != "0.00" %}: +{{ extra.price }}€{% endif %},
                                {% endfor %}
                                <br>
                                {% endif %}
                            </p>
                            {% endif %}
                            <a href="{% url 'update_cart_item' forloop.counter0 %}" class="btn btn-primary">Update</a>
                            <a href="{% url 'delete_from_cart' forloop.counter0 %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Your cart is empty.</p>
        </div>
        {% endfor %}
{% endblock %}