{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 bg-white">
    <div class="row">
        
        <div class="col-sm-12 col-md-6">
            <div class="outsideImage shadow-lg"></div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="coffeeCup shadow-lg">               
            </div>
            <div class="cta-container white bg-accent-color mt-4 rounded">
                <h2 class="text-center p-2">Welcome to The Coffee Bean</h2>
                <p class="text-center px-3">The Coffee Bean is a  friendly , welcoming 
                    coffee shop in Mary Street. Open for the last 18 years , it managed to become one of the most popular coffee shop in North Dublin. </p>
                <div class="text-center">
                    <a href="" class="btn btn-primary mb-2">Order Here 
                        <span class="icon white">
                            <i class="fa-solid fa-angles-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock %}

