

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Jost:ital@0;1&display=swap');

/* General Settings */
body{
    height: 100%;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #F3F7F5;
}


.brandLogo{
    background: url('/media/CoffeeBeanLogo.jpg') no-repeat center center fixed;
    background-color: brown;
    height: 100px;
}
.brand-color{
    color: #6B2934;
}
.white{
    color: #F3F7F5 !important;
}
.bg-white{
    background-color: #F3F7F5 !important;

}
.bg-brand-color{
    background-color: #6B2934;
}
.bg-accent-color{
    background-color: #BC926D;
}
.allerta{
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
}

.rounded{
    border-radius: 1.25rem !important;
}
.rounded-right{
    border-top-right-radius: 1.25rem !important;
    border-bottom-right-radius: 1.25rem !important;
}

.floating-button{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
}

.modal-backdrop {
    z-index: 1020 !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


/* Bootstrap */
.btn-primary {
    color: #fff;
    background-color: #7a363f !important;
    border:none;
}

.btn-info {
    color: #fff;
    background-color: #282639 !important;
    border:none
}
.btn-success {
    color: #fff;
    background-color: #5a8b4b !important;
    border:none
}
.btn-warning {
    color: #fff;
    background-color: #d77b13 !important;
    border:none
}
.btn-danger {
    color: #fff;
    background-color: #f44336 !important;
    border: none;
}

.no-bullets{
    list-style-type: none;
}


/* Product form */

.btn-file{
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #f44336;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #f44336;
    border-color: #f44336;
    border-radius: 0;
}

.img-form{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-logo-link img{
    height: 100px;
}

footer a{
    color: #6B2934;
}

.header-container{
    height: 20vh;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 111px;
    }

    .coffeeCup{
        margin-top: 1.5rem;
    }

    .allerta{
        font-size: 1.2rem;
    }
}

