{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'orderonline/css/orderonline.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2 mb-5">
        <ul class="navbar-menu">
            {% for category in categories %}
                <li class="no-bullets mb-2"><a href="/orderonline/#{{ category.friendly_name }}" class="nav-link">{{ category.friendly_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="w-75 item-card-body mx-auto rounded justify-content-center">
        <div class="position-relative">
            <a href="{% url 'order_online' %}" class="rounded p-2 position-absolute bg-white brand-color" style="top: 10px; left: 10px;">
                <i class="fas fa-arrow-left"></i>
            </a>
            {% if item.image %}
            <img src="{{ item.image.url }}" class="card-img-top item-detail-img rounded" alt="{{ item.name }}">
            {% else %}
            <img src="{{ MEDIA_URL }}/menu_items/noimage.png" class="card-img-top item-detail-img rounded" alt="{{ item.name }}">
            {% endif %}
        </div>
            <h2 class="card-title ml-2">{{ item.name }}</h2>  
        <div class="d-flex mx-4">
            <div class="item-info w-100">
                <p class="card-text my-2 ">Ingredients : {{ item.description }}</p>
                {{ options_extras|json_script:"optionsExtras" }}
                
                <form method="POST" action="{% url 'add_to_cart' %}">
                    {% csrf_token %}
                    {{ form.item_id }}  <!-- Render the item_id field here -->
                    <!-- Render the rest of the fields here -->
                    {% for field in form %}
                    {% if not field.is_hidden and field.name != 'quantity' %}
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% endif %}
                    {% endfor %}
                    <div id="options-extras"></div>
                    <h3>Quantity</h3>
                    <div class="d-flex justify-content-around ">
                        <button type="button" id="decrease-id_quantity" class="bg-brand-color white rounded-pill mb-2 quantity">-</button>
                        {{ form.quantity }}  <!-- Render the quantity field here -->
                        <button type="button" id="increase-id_quantity" class="bg-brand-color white rounded-pill mb-2 quantity">+</button>
                    </div>
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_item' item.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_item' item.id %}">Delete</a>
                    </small>
                    {% endif %}
                    <div class="d-flex justify-content-center mt-2">
                        <button class="bg-brand-color white rounded-pill mb-2 add-to-cart-button" type="submit">Add to Cart  {{ item.price }} € </button>
                    </div>
                </form>
            </div>
        </div>    

    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'orderonline/js/itemDetail.js' %}"></script>
<script>
    $(document).ready(function() {
        $("#id_included_item option").each(function() {
            var label = $(this).text();
            var label_parts = label.split(' - ');
            if (label_parts.length > 1) {
                var price = label_parts[1].replace('€', '');
                $(this).attr('data-price', price);
            }
        });
        $('#increase-id_quantity').click(function(event) {
            event.preventDefault();
            var quantityInput = $('#id_quantity');
            var quantity = parseInt(quantityInput.val());
            quantityInput.val(quantity + 1);
        });

        $('#decrease-id_quantity').click(function(event) {
            event.preventDefault();
            var quantityInput = $('#id_quantity');
            var quantity = parseInt(quantityInput.val());
            if (quantity > 1) {
                quantityInput.val(quantity - 1);
            }
        });
    });
</script>
<script src="{% static 'orderonline/js/updatePrice.js' %}"></script>


{% endblock %}