{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'orderonline/css/orderonline.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2 mb-5">
        <ul class="navbar-menu">
            {% for category in categories %}
                <li class="no-bullets mb-2"><a href="/orderonline/#{{ category.name }}" class="nav-link">{{ category.friendly_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="w-75 item-card-body mt-4 mx-auto rounded justify-content-center">
        <div class="position-relative">
            <a href="{% url 'order_online' %}" class="rounded p-2 position-absolute bg-white brand-color returnButton">
                <i class="fas fa-arrow-left"></i>
            </a>
            {% if item.image %}
            <img src="{{ item.image.url }}" class="card-img-top item-detail-img rounded" alt="{{ item.name }}">
            {% else %}
            <img src="{{ MEDIA_URL }}/menu_items/noimage.png" class="card-img-top item-detail-img rounded" alt="{{ item.name }}">
            {% endif %}
        </div>
            <h2 class="card-title ml-2">{{ item.name }}</h2>  
        <div class="d-flex mx-4">
            <div class="item-info w-100">
                <p class="card-text my-2 ">Ingredients : {{ item.description }}</p>
                
                <form method="POST" id="itemForm" action="{% url 'add_to_cart' %}">
                    {% csrf_token %}
                    {{ form.item_id }}  <!-- Render the item_id field here -->
                    <!-- Render the rest of the fields here -->
                    <div class="formContainer">

                        <div class="itemOptionsContainer">
                            {% for field in form %}
                            {% if not field.is_hidden and field.name != 'quantity' %}
                            {{ field.errors }}
                            <div class="optionDiv">
                                
                                <h3>{{ field.label_tag }}</h3> 
                                {{ field }}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div id="options-extras"></div>
                    </div>
                    <h3 class="quantityHeading">Quantity</h3>
                    <div class="d-flex justify-content-around ">
                        <button type="button" id="decrease-id_quantity" class="bg-brand-color white rounded-pill mb-2 quantity">-</button>
                        {{ form.quantity }}  <!-- Render the quantity field here -->
                        <button type="button" id="increase-id_quantity" class="bg-brand-color white rounded-pill mb-2 quantity">+</button>
                    </div>
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_item' item.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_item' item.id %}">Delete</a>
                    </small>
                    {% endif %}
                    <div class="d-flex justify-content-center mt-2">
                        <button class="bg-brand-color white rounded-pill mb-2 add-to-cart-button" id="add-to-cart-button" type="submit">Add to Cart  {{ item.price }} € </button>
                    </div>
                </form>
            </div>
        </div>    
        
    </div>
</div>

{% endblock %}

{% block extra_js %}
{{ options_extras|json_script:"optionsExtras" }}
<script src="{% static 'orderonline/js/itemDetail.js' %}"></script>
<script src="{% static 'orderonline/js/updatePrice.js' %}"></script>
{% endblock %}