{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'orderonline/css/orderonline.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2 mb-5">
        <ul class="navbar-menu">
            {% for category in categories %}
                <li class="no-bullets mb-2"><a href="/orderonline/#{{ category.friendly_name }}" class="nav-link">{{ category.friendly_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="w-75 item-card-body mx-auto rounded justify-content-center">
        <div class="position-relative">
            <a href="{% url 'order_online' %}" class="rounded p-2 position-absolute bg-white brand-color" style="top: 10px; left: 10px;">
                <i class="fas fa-arrow-left"></i>
            </a>
            <img src="{{ item.image.url }}" class="card-img-top item-detail-img rounded" alt="{{ item.name }}">
        </div>
            <h2 class="card-title ml-2">{{ item.name }}</h2>  
        <div class="d-flex mx-4">
            <div class="item-info w-100">
                <p class="card-text my-2 ">Ingredients : {{ item.description }}</p>
                {{ options_extras|json_script:"optionsExtras" }}
                
                <form method="POST" action="{% url 'add_to_cart' %}">
                    {% csrf_token %}
                    {{ form }}
                <div id="options-extras"></div>
                <div class="d-flex justify-content-center mt-2">
                    <button class="bg-brand-color white rounded-pill mb-2 w-50 add-to-cart-button" type="submit">Add to Cart  {{ item.price }} € </button>
                </div>
                </form>
            </div>
        </div>    

    </div>
</div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'orderonline/js/itemDetail.js' %}"></script>
<script>
    window.onload = function() {
        console.log('Script started');

        // Select all checkbox and radio inputs
        var inputs = document.querySelectorAll('input[type="checkbox"], input[type="radio"]');
        console.log('Inputs selected:', inputs);

        // Function to calculate total price
        function calculateTotalPrice() {
            var totalPrice = parseFloat({{ item.price }});
            var selectedInputs = document.querySelectorAll('input[type="checkbox"]:checked, input[type="radio"]:checked');
            for (var i = 0; i < selectedInputs.length; i++) {
                totalPrice += parseFloat(selectedInputs[i].dataset.price);
            }
            document.querySelector('.add-to-cart-button').textContent = 'Add to Cart ' + totalPrice.toFixed(2) + ' €';
        }

        // Add change event listener to each input
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener('change', calculateTotalPrice);
        }

        // Calculate total price on page load
        calculateTotalPrice();

        console.log('Script ended');
    };
</script>

{% endblock %}