{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'orderonline/css/orderonline.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-white">
    <div class="row ">
        <div class="col-sm-2">
            <ul class="pl-0 navbar-menu">
                {% for category in categories %}
                    <li class="no-bullets mb-2"><a href="#{{ category.name }}" class="nav-link">{{ category.friendly_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-10 menu-items">
            <div class="row ">
                {% for category in categories %}
                <div id="{{ category.name }}" class="row category mx-auto">
                        <h2 class="w-100 text-center">{{category.friendly_name}}</h2>
                        <br>
                        {% for item in items %}
                            {% if item.category == category %}
                                <div class="col-sm-6 col-12 mb-2">
                                    <div class="card card-fixed-height rounded">
                                        <div class="card-body">
                                            <a href="{% url 'item_detail' item.id %}" class="block-link">
                                                <h5 class="card-title">{{ item.name }}</h5>  
                                            </a>
                                                <div class="d-flex">
                                                    <div class="item-info">
                                                        <p class="card-text my-0">Ingredients : {{ item.description | truncatechars:50 }}</p>
                                                        <div class="d-flex">
                                                            <p class="card-text price">{{ item.price }} € </p>
                                                            {% if request.user.is_superuser %}
                                                            <small class="ml-3">
                                                                <a href="{% url 'edit_item' item.id %}">Edit</a> | 
                                                                <a class="text-danger" href="{% url 'delete_item' item.id %}">Delete</a>
                                                            </small>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>    
                                            </div>
                                            {% if item.image %}
                                            <img src="{{ item.image.url }}" class="card-img-top card-img-top-fixed rounded-right" alt="{{ item.name }}">
                                            {% else %}
                                            <img src="{{ MEDIA_URL }}/menu_items/noimage.png" class="card-img-top card-img-top-fixed rounded-right" alt="{{ item.name }}">
                                            {% endif %}
                                        </div>
                       
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>        
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'orderonline/js/orderonline.js' %}"></script>
{% endblock %}
