<footer class="mt-auto">
    <h6 class="text-center text-muted">Contact Us</h6>
    <ul class="d-flex justify-content-between w-50 mx-auto list-unstyled">
        <li>
            <a href="https://www.facebook.com/profile.php?id=61557572357964" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/thecoffeebeandublin/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
            <a href="mailto:thecoffeebeanwebsite@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </li>
        <li>
            <a href="tel:015613011"><i class="fa-solid fa-phone"></i></a>
        </li>
    </ul>
    <div class="text-center">
        <h6 class="text-muted">Subscribe to our newsletter</h6>
        <form action="{% url 'subscribe' %}" method="post">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit" class="btn btn-primary rounded">Subscribe</button>
        </form>
    </div>
</footer>