<footer class="mt-auto">
    <h6 class="text-center text-muted">Contact Us</h5>
    <ul class="d-flex justify-content-between w-50 mx-auto">
        <div>
            <a href="https://www.facebook.com/yourFacebookPage" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </div>
        <div>
            <a href="https://www.instagram.com/thecoffeebeandublin/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div>
            <a href="mailto:thecoffeebeanwebsite@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </div>
        <div>
            <a href="tel:01 561 3011"><i class="fa-solid fa-phone"></i></a>
        </div>
    </ul>
    <div class="text-center">
        <h6 class="text-muted">Subscribe to our newsletter</h6>
        <form action="{% url 'subscribe' %}" method="post">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit">Subscribe</button>
        </form>
    </div>
</footer>