<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto jost text-uppercase ">
        <li class="nav-item dropdown">
            <a href="{% url 'home' %}" class="logo-font font-weight-300 nav-link text-black text-center" id="home-link" aria-haspopup="true" aria-expanded="false">
                {% if request.resolver_match.url_name == 'home' %}
                    <span class="bg-brand-color white px-4 mx-2 rounded-pill">
                {% endif %}
                Home
                {% if request.resolver_match.url_name == 'home' %}
                    </span>
                {% endif %}
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-300 nav-link text-black text-center" href="{% url 'about' %}"  aria-haspopup="true" aria-expanded="false">
                {% if request.resolver_match.url_name == 'about' %}
                    <span class="bg-brand-color white px-4 mx-2 rounded-pill">
                {% endif %}
                About
                {% if request.resolver_match.url_name == 'about' %}
                    </span>
                {% endif %}
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-300 nav-link text-black text-center" href="{% url 'menu' %}"  aria-haspopup="true" aria-expanded="false">
                {% if request.resolver_match.url_name == 'menu' %}
                <span class="bg-brand-color white px-4 mx-2 rounded-pill">
                {% endif %}
                Menu
                {% if request.resolver_match.url_name == 'menu' %}
                    </span>
                {% endif %}
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-300 nav-link text-black text-center" href="{% url 'order_online' %}"   aria-haspopup="true" aria-expanded="false">
                {% if request.resolver_match.url_name == 'order_online' %}
                <span class="bg-brand-color white px-4 mx-2 rounded-pill">
                {% endif %}
                Order Online
                {% if request.resolver_match.url_name == 'order_online' %}
                    </span>
                {% endif %}
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-300 nav-link text-black text-center" href="#"  aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>