<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto jost text-uppercase ">
        <li class="nav-item dropdown">
            <!-- Need to add the condition to display it under the active link(NEED URLS SETUP) -->
            <a href="" class="logo-font font-weight-300 nav-link text-black text-center" id="home-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="bg-brand-color white px-4 mx-2 rounded-pill">
                    Home
                </span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-300 nav-link text-black text-center" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div> -->
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-300 nav-link text-black text-center" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-300 nav-link text-black text-center" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Order Online
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-300 nav-link text-black text-center" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>