<input type="hidden" name="item_id" value="{{ item.id }}"> 
                <div class="row">

                    <!-- Displays the option to the user to choose between two ingredients included in the item for free. -->
                    {% regroup menu_item_ingredients by option as ingredient_groups %}
                    {% for group in ingredient_groups %}
                    <div class="col-12 col-md-4">
                        {% if group.grouper %}
                        <h3>{{ group.grouper.name }}</h3>
                        {% else %}
                        <h3>Extras</h3>
                        {% endif %}
                        {% for ingredient in group.list %}
                        <div>
                            <label for="ingredient_{{ ingredient.id }}">{{ ingredient.ingredient.name }}{% if ingredient.price != 0 %} - {{ ingredient.price }} €{% endif %}</label>
                            {% if group.grouper %}
                                <input type="radio" id="ingredient_{{ ingredient.id }}" onchange="updatePrice()" name="option_{{ group.grouper.id }}" value="{{ ingredient.id }}" data-price="{{ ingredient.price }}" {% if not ingredient.is_optional %} checked {% endif %}>
                            {% else %}
                                <input type="checkbox" id="ingredient_{{ ingredient.id }}" onchange="updatePrice()" name="extra_{{ ingredient.id }}" value="{{ ingredient.id }}" data-price="{{ ingredient.price }}">
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                    {% endfor %}
                </div>


                {% if included_items %}
                <h3 class="text-center mt-5"><u>Included Items</u></h3>
                    <select id="included_item" name="included_item" class="col-12 col-md-6" onchange="showIngredients(this.value); updatePrice();">
                        {% for included_item in included_items %}
                            <option value="{{ included_item.id }}">
                                {{ included_item.included_item.name }} - {{ included_item.price }} €
                            </option>
                        {% endfor %}
                    </select>
                {% for included_item in included_items %}
                    <div id="ingredients_{{ included_item.id }}" style="display: none;">
                        <div class="row">
                            {% regroup included_item.ingredients by option as ingredient_groups %}
                            {% for group in ingredient_groups %}
                                <div class="col-12 col-md-4">
                                    {% if group.grouper %}
                                        <h3>{{ group.grouper.name }}</h3>
                                    {% else %}
                                        <h3>Extras</h3>
                                    {% endif %}
                                    {% for ingredient in group.list %}
                                        <div>
                                            <label for="ingredient_{{ ingredient.id }}">{{ ingredient.ingredient.name }}{% if ingredient.price != 0 %} - {{ ingredient.price }} €{% endif %}</label>
                                            {% if group.grouper %}
                                                <input type="radio" id="ingredient_{{ ingredient.id }}" onchange="updatePrice()" name="option_{{ included_item.id }}_{{ group.grouper.id }}" value="{{ ingredient.id }}" data-price="{{ ingredient.price }}"  {% if not ingredient.is_optional %} checked {% endif %}>
                                            {% else %}
                                                <input type="checkbox" id="ingredient_{{ ingredient.id }}" onchange="updatePrice()" name="extra_{{ ingredient.id }}" value="{{ ingredient.id }}" data-price="{{ ingredient.price }}">
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                
                
                
                
                {% endif %}