body{
    height: calc(100vh - 164px);
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.brandLogo{
    background: url('/media/CoffeeBeanLogo.jpg') no-repeat center center fixed;
    background-color: brown;
    height: 100px;
}
.brand-color{
    color: #6B2934;
}
.white{
    color: #F3F7F5 ;
}
.bg-white{
    background-color: #F3F7F5;

}
.bg-brand-color{
    background-color: #6B2934;
}
.bg-accent-color{
    background-color: #BC926D;
}
.allerta{
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rounded{
    border-radius: 1rem !important;
}

.mobile-title{
    font-size: 2.5rem !important;
    font-weight: 400;
}

/* Bootstrap */



/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 250px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 180px;
        background-color: black;
    }

    body {
        height: calc(100vh - 116px);
    }
    .coffeeCup{
        margin-top: 1.5rem;
    }

}