{% extends "base.html" %}
{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 bg-white">
    <div class="row">
        <h1 class="text-center w-100">Contact</h1> 
        <div class="w-75 mx-auto">
            <img src="{% static 'images/thanks.svg' %}" class="img-fluid" alt="thanks">
            <h2 class="">Thanks for your message! We will get back to you as soon as possible! </h2>
        </div>
    </div>
</div>
{% endblock %}

